.theme26{
  .square{
    margin-left:25%;
	  width:50px
  }
  .squaret{
    display:inline-block;
    width:15px;
    height:15px;
    background:#000;
    opacity:1;
    animation:theme26 2.8s infinite;
    opacity:0
  }
  .square1{}
  .square2{animation-delay:.7s}
  .square3{animation-delay:2.1s}
  .square4{animation-delay:1.4s}
  @keyframes theme26 {
    0% {
      opacity:.5;
      background:#000
    }
    30% {
      opacity:.5;
      background:#666
    }
    60% {
      opacity:0
    }
    75% {
      opacity:0
    }
    100% {
      opacity:.5;
      background:#000
    }
  }
}