.theme18{
  .ring{
    width:10px;
    height:10px;
    margin:0 auto;
    padding:10px;
    border:7px dashed #000;
    border-radius:100%;
    animation: theme18 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite
  }
  @keyframes theme18 {
      0% {
      transform:rotate(0deg)
    }
    50% {
      transform:rotate(180deg)
    }
    100% {
      transform:rotate(360deg)
    }
  }
}