@import './variable.scss';
/* theme1 1 */
.theme1{
    .loading > div {
        background-color: $loading_color;
        height: 50px;
        width: 6px;
        display: inline-block;
        animation: theme1 1.2s infinite ease-in-out;
    }
    .loading .rect2 {
        animation-delay: -1.1s;
    }
    .loading .rect3 {
        animation-delay: -1.0s;
    }
    .loading .rect4 {
        animation-delay: -0.9s;
    }
    .loading .rect5 {
        animation-delay: -0.8s;
    }
}
 
@keyframes theme1 {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
  }
}