@import './variable.scss';
.theme6{
  .loading {
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 33px;
  }
  
  .loading > div {
    width: 30px;
    height: 30px;
    background-color: $loading_color;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out;
    animation-fill-mode: both;
  }
  
  .loading .bounce1 {
    animation-delay: -0.32s;
  }
  
  .loading .bounce2 {
    animation-delay: -0.16s;
  }
  @keyframes bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0.0);
    } 40% { 
      transform: scale(1.0);
    }
  }
}